@{
    ViewData["Title"] = "Home Page";
}

@model TestResponse

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>This is the response from the API:</h1>
    <p><strong>@Model.response</strong></p>
</div>