@{
    ViewData["Title"] = "Home Page";
}

@model TestResponse

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the response from the API:</p>
    <h1>@Model.response</h1>
</div>